## Question 41 - Rolling dice to win...again

Suppose you are playing a game where there are two fair six-sided dice, and every time you roll the dice and they add up to 9, you win $50. 

However, to roll the dice costs $20 to play. Is this a game you're willing to play? 

You should be able to attach an expected value to each dice roll using probability theory here.

In [33]:
import pandas as pd
#A dice has numbers from 1 to 6 and each face has 1/6 probability.
dice=pd.DataFrame({'number':[1,2,3,4,5,6],'probability':[1/6]*6})
dice

   number  probability
0       1     0.166667
1       2     0.166667
2       3     0.166667
3       4     0.166667
4       5     0.166667
5       6     0.166667

In [34]:
#if we have two dices, what will happen?
twodice=[]
for i in dice['number']:
    for j in dice['number']:
        twodice.append([i,j,1/6*1/6])
result = pd.DataFrame(twodice,columns=['first','second','probability'])

In [35]:
result.head()

   first  second  probability
0      1       1     0.027778
1      1       2     0.027778
2      1       3     0.027778
3      1       4     0.027778
4      1       5     0.027778

In [36]:
#our return is based on the sum value of faces of two dices
result['Sum']=result['first']+result['second']
result.head()

   first  second  probability  Sum
0      1       1     0.027778    2
1      1       2     0.027778    3
2      1       3     0.027778    4
3      1       4     0.027778    5
4      1       5     0.027778    6

In [44]:
#I will create a pivot table on sum values and see the sum of probability per each unique sum values
pivot = pd.pivot_table(result,values='probability',index=['Sum'],aggfunc='sum',)
pivotdf = pd.DataFrame(pivot.to_records())

In [45]:
pivotdf

    Sum  probability
0     2     0.027778
1     3     0.055556
2     4     0.083333
3     5     0.111111
4     6     0.138889
5     7     0.166667
6     8     0.138889
7     9     0.111111
8    10     0.083333
9    11     0.055556
10   12     0.027778

In [46]:
# To check if this is created correctly, Let's see if the sum of probability is 1
pivotdf['probability'].sum(axis=0)

1.0000000000000002

In [49]:
#our return is 0 for all other sums but $50 for 9. 
pivotdf['return']=0
pivotdf.loc[pivotdf['Sum']==9,'return']=50
pivotdf

    Sum  probability  return
0     2     0.027778       0
1     3     0.055556       0
2     4     0.083333       0
3     5     0.111111       0
4     6     0.138889       0
5     7     0.166667       0
6     8     0.138889       0
7     9     0.111111      50
8    10     0.083333       0
9    11     0.055556       0
10   12     0.027778       0

In [50]:
pivotdf['cost']=-20
pivotdf['NetReturn']=pivotdf['return']+pivotdf['cost']
pivotdf['ExpectedReturn']=pivotdf['NetReturn']*pivotdf['probability']
pivotdf

    Sum  probability  return  cost  NetReturn  ExpectedReturn
0     2     0.027778       0   -20        -20       -0.555556
1     3     0.055556       0   -20        -20       -1.111111
2     4     0.083333       0   -20        -20       -1.666667
3     5     0.111111       0   -20        -20       -2.222222
4     6     0.138889       0   -20        -20       -2.777778
5     7     0.166667       0   -20        -20       -3.333333
6     8     0.138889       0   -20        -20       -2.777778
7     9     0.111111      50   -20         30        3.333333
8    10     0.083333       0   -20        -20       -1.666667
9    11     0.055556       0   -20        -20       -1.111111
10   12     0.027778       0   -20        -20       -0.555556

In [51]:
# Let's see what is the expected return for each roll of two dices
pivotdf.ExpectedReturn.sum(axis=0)

-14.444444444444443

This means that everytime we roll the two dices we are expected to loss 14 dollars.
So **Don't Play This Game**